.wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #181818;
}

.containerEnter {
  width: 100%;
  max-width: 410px;
  padding: 20px;
}

.modal__block {
  background-color: #282828;
  border-radius: 6px;
  padding: 40px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__logo {
  margin-bottom: 40px;
}

.modal__logo img {
  width: 113.33px;
  height: 17px;
}

.modal__input {
  width: 100%;
  background-color: #313131;
  border: 1px solid transparent;
  border-radius: 6px;
  padding: 13px 16px;
  margin-bottom: 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.modal__input:focus {
  border-color: #ad61ff;
}

.modal__input::placeholder {
  color: #696969;
}

.login {
  margin-bottom: 16px;
}

.errorContainer {
  width: 100%;
  min-height: 20px;
  margin-bottom: 8px;
  font-size: 13px;
  color: #a53939;
}

.modal__btnEnter {
  width: 100%;
  background-color: #ad61ff;
  border-radius: 60px;
  padding: 13px 20px;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.modal__btnEnter:hover {
  background-color: #d9b6ff;
}

.modal__btnSignup {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #696969;
}

.modal__btnSignup:hover {
  color: #d9b6ff;
}
